<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="col-sm-12">
		<div class="ibox">
			<div class="ibox-body">
				<table id="exampleTable" data-mobile-responsive="true">

				</table>

			</div>
		</div>
	</div>
  </div>
  <div th:include="include :: footer"></div>
  <script  type="text/javascript" src="/js/appjs/wuliao/wuliaopaixu/wuliaopaixu.js"></script>

</body>
</html>