<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${chelianglahuo.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">车号：</label>
								<div class="col-sm-8">
									<input id="chehao" name="chehao" th:value="${chelianglahuo.chehao}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">送入料仓号：</label>
								<div class="col-sm-8">
									<input id="liaocanghao" name="liaocanghao" th:value="${chelianglahuo.liaocanghao}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">品种：</label>
								<div class="col-sm-8">
									<input id="pinzhong" name="pinzhong" th:value="${chelianglahuo.pinzhong}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">数量：</label>
								<div class="col-sm-8">
									<input id="shuliang" name="shuliang" th:value="${chelianglahuo.shuliang}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">日期时间：</label>
								<div class="col-sm-8">
									<input id="riqishijian" name="riqishijian" th:value="${chelianglahuo.riqishijian}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">当天车数：</label>
								<div class="col-sm-8">
									<input id="dangtiancheshu" name="dangtiancheshu" th:value="${chelianglahuo.dangtiancheshu}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">批次号：</label>
								<div class="col-sm-8">
									<input id="picihao" name="picihao" th:value="${liaocang.picihao}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">成分：</label>
								<div class="col-sm-8">
									<input id="chengfen" name="chengfen" th:value="${liaocang.chengfen}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="zhuangtai" name="zhuangtai" th:value="${chelianglahuo.zhuangtai}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="beizhu" name="beizhu" th:value="${chelianglahuo.beizhu}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/wuliao/chelianglahuo/edit.js">
	</script>
</body>
</html>
