<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wuliao.dao.HuayanshiDao">

	<select id="get" resultType="com.bootdo.wuliao.domain.HuayanshiDO">
		select `id`,`name`,`picihao`,`laiyuan`,`riqi`,`changjia`,`baifenbi` from tb_huayanshi where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wuliao.domain.HuayanshiDO">
		select `id`,`name`,`picihao`,`laiyuan`,`riqi`,`changjia`,`baifenbi` from tb_huayanshi
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
			<if test="picihao != null and picihao != ''"> and picihao = #picihao} </if>
			<if test="laiyuan != null and laiyuan != ''"> and laiyuan = #{laiyuan} </if>
			<if test="riqi != null and riqi != ''"> and riqi = #{riqi} </if>
			<if test="changjia != null and changjia != ''"> and changjia = #{changjia} </if>
		  		  <if test="baifenbi != null and baifenbi != ''"> and baifenbi = #{baifenbi} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_huayanshi
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
			 <if test="picihao != null and picihao != ''"> and picihao = #picihao} </if>
			 <if test="laiyuan != null and laiyuan != ''"> and laiyuan = #{laiyuan} </if>
			 <if test="riqi != null and riqi != ''"> and riqi = #{riqi} </if>
			 <if test="changjia != null and changjia != ''"> and changjia = #{changjia} </if>
		  		  <if test="baifenbi != null and baifenbi != ''"> and baifenbi = #{baifenbi} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wuliao.domain.HuayanshiDO">
		insert into tb_huayanshi
		(
			`id`, 
			`name`,
			`picihao`,
			`laiyuan`,
			`riqi`,
			`changjia`,
			`baifenbi`
		)
		values
		(
			#{id}, 
			#{name},
			#{picihao},
			#{laiyuan},
			#{riqi},
			#{changjia},
			#{baifenbi}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wuliao.domain.HuayanshiDO">
		update tb_huayanshi 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="picihao != null "> and `picihao` = #picihao}, </if>
			<if test="laiyuan != null "> and `laiyuan` = #{laiyuan} ,</if>
			<if test="riqi != null "> and `riqi` = #{riqi} ,</if>
			<if test="changjia != null "> and `changjia` = #{changjia} ,</if>
			<if test="baifenbi != null">`baifenbi` = #{baifenbi}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_huayanshi where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_huayanshi where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>